body {
	background-color: rgb(252,248,236);
	color: rgb(125,132,178);
	font-family: arial rounded MT bold;

}

h1 {
	color: rgb(88,61,114);
	font-weight: 100;
	font-size: 30px;
	text-align: center;

}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 10%;
  	border-radius: 50px;

}

p {
	color: rgb(72,61,139);

}

a {
  color: rgb(141,181,150);
  text-decoration: none;
  transition: color 0.3s ease;

}

a:hover {
  color: rgb(209,225,213);
  text-decoration: none;
  
}

body {
	text-align: center;
	font-size: 15px;
}

.presentation {
	background-color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
    padding: 60px;
    margin: 75px;
    border-radius: 50px;
}

li {
	list-style: none;
	display: inline;
	margin: 15px;
	font-size: 30px;
	text-align: center;
}

.description1 {
	background-color: rgb(235,229,241);
    padding: 60px;
    margin: 75px;
    border-radius: 50px;

}

.description2 {
	background-color: rgb(235,229,241);
    padding: 60px;
    margin: 75px;
    border-radius: 50px;

}

.description3 {
	background-color: rgb(235,229,241);
    padding: 60px;
    margin: 75px;
    border-radius: 50px;
    text-align: center;
}

.social {
	background-color: white;
    padding: 45px;
    margin: 180px;
    border-radius: 50px;
    text-align: center;
    

}

#banner p{
  background-color: rgb(235,229,241);
  border-radius: 50px;
  padding: 20px;
  border: 50px;
  margin-right: 300px;
  color: rgb(88,61,114);
    
    text-align: left;
    font-size: 12px;

}

.btn-violet {
  background-color: rgb(235,229,241);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}

@media (max-width: 960px) {

  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  
  .container {
    width: 300px;
  }
}

